[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm
[submodule "External/preprocessor"]
	path = External/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "External/implot"]
	path = External/implot
	url = https://github.com/epezent/implot
